[Network]
ServerName = 'Some server'
LocalAddress = '127.0.0.1:19132' # The port that players will connect to
RemoteAddress = '127.0.0.1:19134' # The port that the BDS server is hosted on
PlayerManagerPath = 'players/manager.json' # The path with the player-list file
Whitelisted = false # If whitelist block is enabled
SecuredSlots = 0 # The amount of secured slots on the server for only whitelisted players 
MaxRenderDistance = 16 # The view distance for players
FlushRate = 20 # The flush rate for the server
SentryDSN = ''

[Border]
Enabled = false # Whether to enable the world border
MinX = -12000 # The minimum X coordinate for the world border
MaxX = 12000 # The maximum X coordinate for the world border
MinZ = -12000 # The minimum Z coordinate for the world border
MaxZ = 12000 # The maximum Z coordinate for the world border

[Resources]
PacksRequired = false # If resource packs are required to download by players
CommandPath = 'resources/commands.json' # The path to the file where the bds-scripting-commands are stored
URLResources = [] # Urls of resource packs to require downloaded by players
PathResources = [] # Paths of resource packs to require downloaded by players

[AuthenticationService]
URL = 'http://127.0.0.1:8080/authentication' # The Hub API Endpoint to verify players joining through queue
Key = 'secret-key' # The authentication key for the queues API

[ClaimService]
URL = 'http://127.0.0.1:3001/api/database/testing/claims' # The service endpoint to fetch players claims
Key = 'secret-key' # The API token needed to fetch claims

[VPNService]
URL = 'http://ip-api.com/json' # A service to validate users if they are using VPN's
Key = '' # Authentication key if required

[Encryption]
Key = 'secret-key' # The Encryption key used for XUID messages to BDS
